
@{
    ViewData["Title"] = "Index";
}

@{
    ViewData["Title"] = "Index";
}
@model PaginateVM<Setting>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Setting Table</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Key
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in (Model.Items ?? new List<Setting>()))
                    {
                        <tbody>
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    @item.Key
                                </td>
                                <td>
                                    @item.Value
                                </td>
                                <td>
                                    <a class="btn btn-warning" style="color:white;" asp-controller="Setting" asp-action="Update" asp-route-id="@item.Id">Update</a>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
                <nav aria-label="..." class="mt-2">
                    <ul class="pagination pagination-sm">
                        @if (Model.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage-1)" tabindex="-1">Previous</a>
                            </li>
                        }
                        @for (int i = 1; i <= Model.MaxPage; i++)
                        {
                            <li class="page-item @(Model.CurrentPage==i ? "disabled":"")">
                                <a class="page-link" asp-action="Index" asp-route-page="@i" tabindex="-1">@i</a>
                            </li>
                        }
                        @if (Model.CurrentPage < Model.MaxPage)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage+1)" tabindex="-1">Next</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>